<%- include('partials/header'); -%>
<script src="https://cdn.okra.ng/v3/bundle.js"></script>
<link href="/css/analysis.css" rel="stylesheet" type="text/css">
<title>Confirm Potential Loan</title>        
    
    <h4 id="err-msg" class="err-msg">Your information provided does not match your bank information. Please link an account that belongs to you.</h4>
    <section>
        <h4>Loan to you</h4>
        <p>You are being considered for a loan from <%= data.currentloan.lender.name %></p>
        <p class="warning">Please ensure the account you connect belongs to <b> <%= data.currentloan.borrower.name %></b>, else your assessment will not be completed and you will be required pay the assessment fee when you attempt to connect another account.</p>
        <div class="form-container">
            <div id="form-wrapper" class="card">
                <form>
                    <label class="form-items">
                        <span class="form-title">Lender</span>
                        <input type="text" class="input-field" name="loanerName" value="<%= data.currentloan.lender.name %>" readonly>
                    </label><br>    
                    <label class="form-items">
                        <span class="form-title">Loan Amount (₦‎)</span>
                        <input type="text" class="input-field" name="loanAmount" value="<%= data.formattedAmount %>" disabled>
                    </label><br> 
                    <label class="form-items">
                        <span class="form-title">Interest On Loan (%)</span>
                        <input type="text" class="input-field" name="loanInterest" value="<%= data.currentloan.interest_on_loan %>" disabled>
                    </label><br>  
                    <label class="form-items">
                        <span class="form-title">Repayment Method</span>
                        <input type="text" class="input-field" id="repayment-style" name="repaymentMethod" placeholder="Repayment Style" value="<%= data.currentloan.repayment_terms.repayment_type %>" disabled>
                    </label><br>     
                    <div id="one-off-deets">
                        <label id="repayment-date" class="form-items">
                            <span class="form-title">Expected Repayment Date</span>
                            <input type="text" class="input-field" name="repaymentDate" value="<%= data.currentloan.repayment_terms.repayment_date %>" disabled>
                        </label><br>
                    </div>
                    <div id="installmental-deets">
                        <label id="repayment-duration" class="form-items">
                            <span class="form-title">Expected Repayment Duration</span>
                            <input type="text" id="repayment-duration-inp" class="input-field" name="repaymentDuration" value="<%= data.currentloan.repayment_terms.repayment_duration %>" disabled>
                        </label><br>
                        <label id="frequency" class="form-items">
                            <span class="form-title">Expected Repayment Frequency</span>
                            <input type="text" class="input-field" id="repayment-frequency-inp" name="repaymentFrequency" value="<%= data.currentloan.repayment_terms.repayment_frequency %>" disabled>
                        </label><br> 
                    </div> 

                        <!--label><span></span><input type="" name=
                        ""></label-->
                    <span id="checkbox-span">
                        <span>Please check that the details of the loan arrangement are acceptable to you before clicking the "Link your financial account" button.</span><a href=""></a>
                    </span>
                    <div class="btn-wrapper">
                        <a href="" onclick="payWithPaystack()" id="pay-btn" class="analysis-btn">Link your financial account</a>
                        <button id="launch-btn">Link your financial account</button>
                        <a href="" id="analysis-btn" style="display: none;">Analyse your data</a>
                    </div>
                </form>
            </div>
        </div>
    </section>
    <%- include('partials/footer'); -%>
    
    <script type="text/javascript">
    
    //UX rules
    const log = console.log;

    const repaymentStyle = document.getElementById("repayment-style").value.split(' ');
    const frequency = document.getElementById("repayment-frequency-inp").value;
    const oneTimeDeets = document.getElementById("one-off-deets");
    const installmentalDeets = document.getElementById("installmental-deets");
    var decoded_cookie = decodeURIComponent(document.cookie);

    log(repaymentStyle.length);

    if (repaymentStyle.length < 3) {
        oneTimeDeets.style.display = 'none';
        installmentalDeets.style.display = 'block';
    }
    //else if (duration.length = 2) {
    else {
        oneTimeDeets.style.display = 'block';
        installmentalDeets.style.display = 'none';
    }

</script>
<%- include('partials/okra_dialog_widget'); -%>
<%- include('partials/paystack_pop_up-retry'); -%>
</body>