<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="apple-touch-icon" sizes="180x180" href="https://res.cloudinary.com/dxjqr24gm/image/upload/v1680475228/Keenya/favicons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="https://res.cloudinary.com/dxjqr24gm/image/upload/v1680475228/Keenya/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="https://res.cloudinary.com/dxjqr24gm/image/upload/v1680475228/Keenya/favicons/favicon-16x16.png">
    <link rel="manifest" href="https://res.cloudinary.com/dxjqr24gm/raw/upload/v1680473946/Keenya/favicons/site.webmanifest">
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css"/>
    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@600&display=swap" rel="stylesheet">
    <title>Analysis Report</title>
</head>
<style>
    * {
        margin: 0;
        padding: 0;
    }
    body {
        /*background-image: url("https://res.cloudinary.com/dxjqr24gm/image/upload/v1666270007/Keenya/Analysis_page_2.png");*/
        background-repeat: no-repeat;
        background-size: cover;
        font-family: 'Inter', sans-serif;
        height: 100vh;
        overflow-y: auto;
    }
    nav {
        display: flex;
        /* align-content: center; */
        justify-content: center;
        align-items: center
    }
    nav ul {
        display: flex;
        flex-direction: row;
        list-style-type: none;
        /*margin-left: 20px;*/
    }
    nav ul li {
        margin-left: 40px;
    }
    nav a{
        text-decoration: none;
        font-family: 'Source Serif Pro', serif;   
        font-weight: 400;
        color: black;
    }
    .logo{
        margin: auto;
        padding: 2rem;
    }
    .logo img{
        height: 65px;
    }
    /* .hero-image img{
            width: 95%;
    } */
    .nav-items{
        padding: 2rem;
    }
    .nav-items ul{
        list-style-type: none;
    }
    .nav-items ul li:nth-of-type(2) {
        padding-bottom: 7px;
        border-bottom: 4px solid blue;
    }
    .nav-btns {
        display: flex;
        flex-direction: row;
        position: relative;
        left: 500px;
    }
    #nav-btn li a{
        padding: 20px 30px;
        background-color: black;
        color: #fff;
    }
    /* .nav-items ul li:nth-of-type(5){
        background-color: antiquewhite;
        padding: 0.5rem;
    } 
    .nav-items ul > li:nth-of-type(2){
        color: red;
    } */
    section {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .result h4 {
        text-align: center;
        font-size: 24px;
        padding-bottom: 9px;

    }
    #grade {
        font-size: 21px;
    }
    .green {
        color: #02F948;
    }
    .illustration {
        display: flex;
        justify-content: center;
    }
    .illustration img {
        width: 31%;
    }
    .remarks {
        width: 90%;
        padding-bottom: 15px;
    }
    .remarks p {
        font-size: 14px;
        text-align: justify;
        line-height: 25px;
    }
    .btns {
        display: flex;
        flex-direction: column;
    }
    .btns a {
        width: 100%;
        font-size: 12px;
        text-decoration: none;
        text-align: center;
        padding: 15px;
        margin: auto;
        background-color: black;
        color: white;
    }
    /*.btns #back-home {
        background-color: transparent;
        color: grey;
        /*outline: 1.5px solid grey;*/
   /* }
    #back-home:hover {
        text-decoration: underline;
    }*/ 
    .amber {
        color: #FFC100;
    }
    .red {
        color: red;
    }
    /*Media Queries for Tablets*/
    @media only screen and (max-width: 1050px) {
        body {
            overflow-y: auto;
        }
        section {
        }
        .result {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
        .illustration img {
            width: 60%;
        }
        .btns {
            width: 70%;
        }
        .btns a {
            padding:18px 0px;
        }
            
    }
    /*Media Queries for Mobile Phones*/
    @media only screen and (max-width: 450px) {
        body {
            overflow-y: auto;
        }
        .result h4 {
            width: 82%;
            font-size: 19px;
        }
        #grade {
            font-size: 18px;
        }
        .remarks {
            width: 85%;
        }
        .remarks p {
            font-size: 13px;
        }
    }
</style>
<body>
    <header>
        <nav class="navbar">
          <span class="navbar-toggle" id="js-navbar-toggle">
            <i class="fas fa-bars"></i>
          </span>
          <a href="/" class="logo"><img src="https://res.cloudinary.com/dxjqr24gm/image/upload/v1665660039/Keenya/Logos/Group_10.png" class="logo-img"></a>
        </nav>
    </header>
    <section>
    	<% if (report.atr_level === "Very Strong") { %>
            <div class="result">
                <h4 style=""><%= loan.borrower.name %>’s financial ability to repay your loan is</h4>
                <h4 id="grade" class="green"><%= report.atr_level %></h4>
            </div>
            <div class="illustration">
                <img src="https://res.cloudinary.com/dxjqr24gm/image/upload/v1675628530/Keenya/Illustrations/Toggle-bro.png" alt="v.strong">
            </div>
            <div class="remarks">
                <p id="vstrong">Thank you for taking the time to request and review the creditworthiness report for your potential loan arrangement with <%= loan.borrower.name %>. We are pleased to inform you that <%= loan.borrower.name %> has been assessed and determined to be creditworthy. Based on our comprehensive creditworthiness evaluation, we are confident in the creditworthiness of <%= loan.borrower.name %>. They have demonstrated a strong financial track record, responsible borrowing practices and credit management, and a stable cashflow, making them a low-risk and reliable candidate for this loan or financial arrangement they are requesting.</p>
            </div>
            <div class="btns">
                <!--a href="">Go ahead with loan</a-->
                <a href="/" id="back-home">Return Home</a>
            </div>
        <% } else if (report.atr_level === "Strong") { %>
            <div class="result">
                <h4 style=""><%= loan.borrower.name %>’s financial ability to repay your loan is</h4>
                <h4 id="grade" class="green"><%= report.atr_level %></h4>
            </div>
            <div class="illustration">
                <img src="https://res.cloudinary.com/dxjqr24gm/image/upload/v1675628530/Keenya/Illustrations/Toggle-bro.png" alt="v.strong">
            </div>
            <div class="remarks">
                <p>Dear <%= loan.lender.name.split(' ')[0] %>,</p>
                <p id="strong">Thank you for taking the time to request and review the creditworthiness report for your potential loan arrangement with <%= loan.borrower.name %>. We are pleased to inform you that <%= loan.borrower.name %> has been assessed and determined to be creditworthy. Based on our comprehensive creditworthiness evaluation, we are confident in the creditworthiness of <%= loan.borrower.name %>. They have demonstrated a strong financial track record, responsible borrowing practices and credit management, and a stable cashflow, making them a low-risk and reliable candidate for this loan or financial arrangement they are requesting.</p>
            </div>
            <div class="btns">
                <!--a href="">Go ahead with loan</a-->
                <a href="/" id="back-home">Return Home</a>
            </div>
        <% } else if (report.atr_level === "Fair") { %>
            <div class="result">
                <h4 style=""><%= loan.borrower.name %>’s financial ability to repay your loan is</h4>
                <h4 id="grade" class="amber"><%= report.atr_level %></h4>
            </div>
            <div class="illustration">
                <img src="https://res.cloudinary.com/dxjqr24gm/image/upload/v1675628470/Keenya/Illustrations/Reading_list-pana.png" alt="fair">
            </div>
            <div class="remarks">
                <p>Dear <%= loan.lender.name.split(' ')[0] %>,</p>
                <p id="fair">Thank you for taking the time to request and review the creditworthiness report for your potential loan arrangement with <%= loan.borrower.name %>. We would like to provide you with a report on the creditworthiness assessment of <%= loan.borrower.name %>. After our comprehensive evaluation process, we have determined that <%= loan.borrower.name %>'s creditworthiness at this time falls within the fair range. This indicates that <%= loan.borrower.name %> has exhibited some past financial challenges or inconsistencies. They may have encountered minor issues such as late payments, limited credit history, or a slightly high debt-to-income ratio. While these factors contribute to their fair credit assessment, they have also demonstrated fairly responsible credit management. Considering their fair creditworthiness, we recommend that when you are considering this loan or financial arrangement with <%= loan.borrower.name %>, you should consider using risk mitigation approaches that include, requiring additional collateral from your borrower, implementing a repayment plan that they are able to manage, setting reasonable credit limits to reduce potential risks or simply lending them an amount of money you are willing to let go of in the event that they default.</p>
            </div>
            <div class="btns">
                <!--a href="">Go ahead with loan</a-->
                <a href="/" id="back-home">Return Home</a>
            </div>

        <% } else if (report.atr_level === "Weak") { %>
            <div class="result">
                <h4 style=""><%= loan.borrower.name %>’s financial ability to repay your loan is</h4>
                <h4 id="grade" class="red"><%= report.atr_level %></h4-->
            </div>
            <div class="illustration">
                <img src="https://res.cloudinary.com/dxjqr24gm/image/upload/v1675628462/Keenya/Illustrations/Do_not_enter_sign-bro.png" alt="weak"> 
            </div>
            <div class="remarks">
                <p>Dear <%= loan.lender.name.split(' ')[0] %>,</p>
                <p id="weak">Thank you for taking the time to request and review the creditworthiness report for your potential loan arrangement with <%= loan.borrower.name %>. After our thorough evaluation process, we regret to inform you that <%= loan.borrower.name %>'s capacity to repay this loan has been assessed and determined to be weak. The assessment of weak financial capacity to repay the loan indicates that the potential borrower faces substantial obstacles in meeting their financial obligations. Our analysis reveals significant factors that may have contributed to their weak capacity, such as limited income, high debt-to-income ratio, history of defaults or missed payments, or lack of assets. While the borrower may have good intentions, their current financial circumstances presents a high-risk and raise concerns about their ability to repay this loan or fulfill their end of this financial arrangement. We advise against giving out this loan or entering into this financial arrangement with <%= loan.borrower.name %>. If you are still compelled to extend financial assistance to them, we advise that you consider exploring alternative financial arrangements, setting strict repayment terms, or requiring additional collateral which may help reduce potential risks and improve the likelihood of repayment.</p>
            </div>
            <div class="btns">
                <a href="/" id="back-home">Return Home</a>
                <!--a href="">Go ahead with loan</a-->
            </div>
        <% } else if (report.atr_level === "Very Weak") { %>
            <div class="result">
                <h4 style=""><%= loan.borrower.name %>’s financial ability to repay your loan is</h4>
                <h4 id="grade" class="red"><%= report.atr_level %></h4-->
            </div>
            <div class="illustration">
                <img src="https://res.cloudinary.com/dxjqr24gm/image/upload/v1675628462/Keenya/Illustrations/Do_not_enter_sign-bro.png" alt="weak"> 
            </div>
            <div class="remarks">
                <p>Dear <%= loan.lender.name.split(' ')[0] %>,</p>
                <p id="vweak">Thank you for taking the time to request and review the creditworthiness report for your potential loan arrangement with <%= loan.borrower.name %>. After our thorough evaluation process, we regret to inform you that <%= loan.borrower.name %>'s capacity to repay this loan has been assessed and determined to be very weak. The assessment of weak financial capacity to repay the loan indicates that the potential borrower faces substantial obstacles in meeting their financial obligations. Our analysis reveals significant factors that may have contributed to their weak capacity, such as limited income, high debt-to-income ratio, history of defaults or missed payments, or lack of assets. While the borrower may have good intentions, their current financial circumstances presents a high-risk and raise concerns about their ability to repay this loan or fulfill their end of this financial arrangement. We advise against giving out this loan or entering into this financial arrangement with <%= loan.borrower.name %>. If you are still compelled to extend financial assistance to them, we advise that you consider exploring alternative financial arrangements, setting strict repayment terms, or requiring additional collateral which may help reduce potential risks and improve the likelihood of repayment.</p>
            </div>
            <div class="btns">
                <a href="/" id="back-home">Return Home</a>
                <!--a href="">Go ahead with loan</a-->
            </div>
                        
        <% } else if (report.atr_level === "Immature Account") { %>
            <div class="result">
                <h4 style=""><%= loan.borrower.name %>’s credithworthiness assessment failed as a result of</h4>
                <h4 id="grade" class="red"><%= report.atr_level %></h4>
            </div>
            <div class="illustration">
                <img src="https://res.cloudinary.com/dxjqr24gm/image/upload/v1675628462/Keenya/Illustrations/Do_not_enter_sign-bro.png" alt="weak"> 
            </div>
            <div class="remarks">
                <p id="immature">Bank account provided by <%= loan.borrower.name %>'s does not meet our criteria for activity maturity for it to be analyzed. To give us sufficient financial data to make a well-informed analysis and prevent fraud,  potential borrowers should provide a mature bank account with at least 8-months of financial activity.</p>
            </div>
            <div class="btns">
                <a href="/" id="">Return Home</a>
            </div>
                            
        <% } else if (report.atr_level === "Bad Karma") { %>
            <div class="result">
                <h4 style=""><%= loan.borrower.name %>’s credithworthiness assessment failed as a result of</h4>
                <h4 id="grade" class="red"><%= report.atr_level %></h4-->
            </div>
            <div class="illustration">
                <img src="https://res.cloudinary.com/dxjqr24gm/image/upload/v1675628462/Keenya/Illustrations/Do_not_enter_sign-bro.png" alt="weak"> 
            </div>
            <div class="remarks">
                <p>Dear <%= loan.lender.name.split(' ')[0] %>,</p>
                <p id="karma">Thank you for taking the time to request and review the creditworthiness report for your potential loan to <%= loan.borrower.name %>. As part of our thorough evaluation process, we have discovered that the <%= loan.borrower.name %> has been flagged as a bad actor by previous lenders and/or other financial service providers. This is likely as a result of a history of missed payments, defaults, fraud or other negative financial behaviors. We understand the importance of mitigating risk and making informed lending decisions, so based off of our assessment, we strongly advise against entering into any loan arrangement with <%= loan.borrower.name %> unless you have other forms of guarantee that they will repay the loan extended to them according to the terms you set and also ensure they provide good-quality collateral.</p>
            </div>
            <div class="btns">
                <a href="/" id="">Return Home</a>
            </div>
                                      
        <% } else if (report.atr_level === "Poor Credit History") { %>
            <div class="result">
                <h4 style=""><%= loan.borrower.name %>’s credithworthiness assessment failed as a result of</h4>
                <h4 id="grade" class="red"><%= report.atr_level %></h4>
            </div>
            <div class="illustration">
                <img src="https://res.cloudinary.com/dxjqr24gm/image/upload/v1675628462/Keenya/Illustrations/Do_not_enter_sign-bro.png" alt="weak"> 
            </div>
            <div class="remarks">
                <p>Dear <%= loan.lender.name.split(' ')[0] %>,</p>
                <p id="ecosystem">Thank you for taking the time to request and review the creditworthiness report for your potential loan arrangement to <%= loan.borrower.name %>. As part of our thorough creditworthiness evaluation process, We examined <%= loan.borrower.name %>'s credit history with previous lenders and it has been observed that <%= loan.borrower.name %> does not have a positive track record of timely repayment of credit extended to them. This is likely as a result of missed or delayed payments, defaults, incomplete repayment and other similar negative practises that have been discovered from their credit history check. While we advise against embarking on this loan arrangement with <%= loan.borrower.name %> due to their credit history not reflecting a positive track record, you may go ahead with the loan arrangement ONLY if they have provided you with a solid and appropriate collateral for this arrangement or you have any other reason to as serve guaranty that they will repay this loan if it is given to them.
                </p>
                <p>In cases where creditworthiness is a concern, additional security measures should be considered. If <%= loan.borrower.name %> is willing to provide appropriate collateral or involve a qualified guarantor who possesses a solid credit history and is committed to assuming responsibility in the event of default. These options will offer an added layer of protection to you.</p>
            </div>
            <div class="btns">
                <a href="/" id="">Return Home</a>
            </div>
                                      
        <% } %>
        <br><br>
    </section>     
</body>
</html>    